.home_product{
    width: 100%;
    padding-bottom: 50px;
    border-bottom: 1px solid #cccccc;
    padding-top: 20px;
    height: 210px;
    display: flex;
    padding-right: 35px;
}
.home_product:last-child{
    border-bottom: none;
}
.smallProductSection{
    width: 16%;
    margin-left: 10px;
    float: right;
    margin-right: 75px;
}